.preloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient($color-bg2, $color-bg1);

    &__container {
        width: 100px;
        height: 100px;
        margin-top: -50px;
        border-radius: 100%;
        background: linear-gradient(165deg, rgba(255, 255, 255, 1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
        position: relative;
    }

    &__inner:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border-bottom: 0 solid #ffffff05;
        box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
        filter: blur(3px);
        animation: 2s rotate linear infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
}

#backtop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    right: 7vw;
    width: 40px;
    height: 40px;
    border-radius: $border-radius;
    background-color: $color-bg2;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 5;
    cursor: pointer;

    svg {
        height: 30px;
        width: 30px;
        fill: $color-text2;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-secondary;
    }
}

body.backtop-show {
    #backtop {
        visibility: visible;
        opacity: 0.5;
    }
}

@media (max-width: 767px) {
    #backtop {
        width: 50px;
        height: 50px;
        right: 4vw;
        bottom: 25px;
    }
}
