.tooltip {
    position: relative;
    display: inline-block;

    &-text {
        position: absolute;
        min-width: 130px;
        bottom: 105%;
        left: 50%;
        margin-left: -60px;
        padding: 2px 10px;
        z-index: 1;
        background-color: $color-bg2;
        border-radius: $border-radius;
        color: $color-text2;
        text-align: center;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }

    &:hover .tooltip-text,
    &:focus .tooltip-text {
        opacity: 0.5;
        visibility: visible;
    }
}
