$color-stars: var(--color-text, #fcfcfc);

$color-bg1: var(--color-bg, #1f1f1f);
$color-bg2: var(--color-text, #fcfcfc);

$color-text1: var(--color-text, #fcfcfc);
$color-text2: var(--color-bg, #1f1f1f);

$color-primary: var(--color-primary, #343341);
$color-secondary: var(--color-secondary, #28aaba);

$font1: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font2: 'Jost';

$border-radius: 2px;

$shadow1: var(--color-shadow1, 0 0 10px 5px rgba(255, 255, 255, 0.05));
$shadow2: var(--color-shadow2, 0 5px 0 rgba(255, 255, 255, 0.1));
