header.header
    #stars1
    #stars2
    #stars3
    #hero.hero
        .hero__wrapper
            h1 Hello! I'm Olena Tsybulska
            .hero__icons
                #theme-btn.theme-btn.hero__icon.tooltip
                    svg.hero__theme
                        use(xlink:href='./assets/icons/sprite.svg#brightness')
                    span.tooltip-text switch theme
                .tooltip
                    a(href='https://t.me/oltsybulska' aria-label='Telegram' target='_blank' rel='nofollow noopener').hero__icon
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#telegram')
                        span.tooltip-text telegram
                .tooltip
                    a(href='./index-ru.html' aria-label='Language' rel='nofollow noopener').hero__icon
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#world')
                        span.tooltip-text русский язык
    nav#nav.nav
        .nav__icon
            span
            span
            span
        .nav__menu
            a(href='#hero').logo Tsybulska
            ul.nav__body
                li
                    a(href='#contacts') Contacts
                li
                    a(href='#projects') Projects
                li
                    a(href='#stack') Stack