extends extends-ru/layout
block content
    include includes-ru/preloader-backtop.pug
    main.main
        include includes-ru/contacts.pug
        include includes-ru/projects.pug
        include includes-ru/stack.pug
