extends extends/layout
block content
    include includes/preloader-backtop.pug
    main.main
        include includes/contacts.pug
        include includes/projects.pug
        include includes/stack.pug
