.footer {
    margin: 0 auto;
    padding: 0 15px 30px;
    text-align: center;

    &__lighthouse span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        margin: 0 5px 20px;
        border-radius: 50%;
        border: 3px solid $color-lighthouse;
        color: darken($color-lighthouse, 10%);
        line-height: 0.5;
        font-weight: 700;
        cursor: pointer;
    }

    &__copy {
        transition: color 0.5s ease-in-out;

        &:focus,
        &:hover {
            color: $color-secondary;
        }
    }
}
