section#contacts.contacts
    h2
        span Контакты
    .contacts__row
        ul.contacts__item
            li
                span Имя: 
                | Елена Цыбульская
            li
                a(href='https://t.me/oltsybulska' target='_blank' rel='nofollow noopener')
                    span Телеграм: 
                    | @oltsybulska
        ul.contacts__item
            li
                a(href='mailto:ol.tsybulska@gmail.com' target='_blank' rel='nofollow noopener')
                    span Почта: 
                    | ol.tsybulska@gmail.com
            li
                span Скайп: 
                | tsybulskayalena
            li
                a(href='https://github.com/tsybulska' target='_blank' rel='nofollow noopener')
                    span Гитхаб: 
                    | tsybulska