section#stack.stack
    h2
        span Навыки
    .stack__row
        ul.stack__item.stack__item--left
            li HTML5 / Pug
            li CSS3 / SCSS / БЭМ (Flexbox, Grids)
            li JavaScript / ES6
            li Bootstrap4.5 / jQuery (если нужно в проекте)
            li ReactJS (Основы)
            li SVG (Инлайн, Спрайты)
            li Photoshop / Figma / Zeplin (.psd, .fig)
            li Gulp / Webpack
            li Git / GitHub
        ul.stack__item
            li Пиксель Перфект (Пиксель в Пиксель)
            li Оптимизация Скорости Загрузки Страницы
            li Page Speed Insights, Lighthouse
            li Lazyload
            li WebP Формат Изображений
            li Адаптивность (Media, Mobile First, Desktop First)
            li Кроссбраузерность
            li Регулярные Выражения
