section#contacts.contacts
    h2
        span Contacts
    .contacts__row
        ul.contacts__item
            li
                span Name: 
                | Olena Tsybulska
            li
                a(href='https://t.me/oltsybulska' target='_blank' rel='nofollow noopener')
                    span Telegram: 
                    | @oltsybulska
        ul.contacts__item
            li
                a(href='mailto:ol.tsybulska@gmail.com' target='_blank' rel='nofollow noopener')
                    span Email: 
                    | ol.tsybulska@gmail.com
            li
                span Skype: 
                | tsybulskayalena
            li
                a(href='https://github.com/tsybulska' target='_blank' rel='nofollow noopener')
                    span Github: 
                    | tsybulska