section#contacts.contacts
    h2
        span Contacts
    .contacts__row
        ul.contacts__item
            li
                span Name: 
                |Olena Tsybulska
            li
                span Location: 
                |Kyiv, Ukraine
        ul.contacts__item
            li
                a(href='mailto:ol.tsybulska@gmail.com' target='_blank' rel='nofollow noopener')
                    span Email: 
                    |ol.tsybulska@gmail.com
            li
                a(href='https://t.me/oltsybulska' target='_blank' rel='nofollow noopener')
                    span Telegram: 
                    |@oltsybulska
            li
                a(href='https://github.com/tsybulska' target='_blank' rel='nofollow noopener')
                    span Github: 
                    |tsybulska
            li.contacts__item--margin
                a(href='https://www.codewars.com/users/tsybulska' target='_blank' rel='nofollow noopener')
                    span Codewars: 
                    |tsybulska
            li
                a(href='https://codepen.io/tsybulska' target='_blank' rel='nofollow noopener')
                    span Codepen: 
                    |tsybulska
            li
                a(href='https://www.freecodecamp.org/tsybulska' target='_blank' rel='nofollow noopener')
                    span freeCodeCamp: 
                    |tsybulska