section#projects.projects
    h2
        span Projects
    input#All(type='radio' name='categories' value='All' checked='')
    input#HTML(type='radio' name='categories' value='HTML')
    input#JavaScript(type='radio' name='categories' value='JavaScript')
    input#ReactJS(type='radio' name='categories' value='ReactJS')
    input#Build(type='radio' name='categories' value='Build')
    ul.projects__label
        li.projects__all
            label(for='All') All
        li
            label(for='HTML') HTML
        li
            label(for='JavaScript') JavaScript
        li
            label(for='ReactJS') ReactJS
        li
            label(for='Build') Build
    ul.projects__list
        li.projects__item(data-category='JavaScript' data-name='js-filter-calculator')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/js-filter-calculator.webp, ./assets/img/js-filter-calculator-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/js-filter-calculator.jpg' data-srcset='./assets/img/js-filter-calculator.jpg, ./assets/img/js-filter-calculator-640.jpg 640w' alt='project')
                    .projects-img__slide(data-slide='2')
                        picture
                            source(class='lazyload' data-srcset='./assets/img/js-filter-calculator.webp, ./assets/img/js-filter-calculator-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/js-filter-calculator.jpg' data-srcset='./assets/img/js-filter-calculator.jpg, ./assets/img/js-filter-calculator-640.jpg 640w' alt='project')
                    .projects-img__slide(data-slide='3')
                        picture
                            source(class='lazyload' data-srcset='./assets/img/js-filter-calculator.webp, ./assets/img/js-filter-calculator-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/js-filter-calculator.jpg' data-srcset='./assets/img/js-filter-calculator.jpg, ./assets/img/js-filter-calculator-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 3
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   JavaScript Filter Calculator  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                        li Page Speed Optimization
                    h4 Details
                    p Filter and calculator for a steam game
                    p Every object has name and 3 different evidences to recognize it. The player can choose up to three evidences or exclude them. There is a stub if trying to select more than three. Also highlighting input in the calculator itself with different colors
                    p Based on the input, the filter displays a list of possible objects and possible missing evidences
                    p There are a reset button, two languages, dark | light themes and a phrases list
                .projects-about__btn
                    a(href='./assets/projects/js-filter-calculator/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/js-filter-calculator.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/js-filter-calculator' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='HTML JavaScript' data-name='kunzhut')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/kunzhut.webp, ./assets/img/kunzhut-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/kunzhut.jpg' data-srcset='./assets/img/kunzhut.jpg, ./assets/img/kunzhut-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   PSD2HTML Kunzhut  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                        li Page Speed Optimization
                    h4 Details
                    p Development of 2 JS calculators and 4 responsive pages from .psd layouts for a cafe
                    p In 1st calculator clicking on the ingredients or sauces appears their photos on the pizza, elements highlighted in color and the price appears. Remove if clicked again
                    p In 2nd calculator different pizza halves add up to a whole. When click on the icon, the half appears on the pizza. You can select one on the right and one on the left sides. Remove if clicked again
                    p There is a message above the pizza telling you to choose a half. When both halves are selected, the message disappears and reappears if the half is deselected
                .projects-about__btn
                    a(href='./assets/projects/kunzhut/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/kunzhut.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
        li.projects__item(data-category='HTML JavaScript' data-name='city-mober')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/city-mober.webp, ./assets/img/city-mober-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/city-mober.jpg' data-srcset='./assets/img/city-mober.jpg, ./assets/img/city-mober-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   FIG2HTML City Mober  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                        li Page Speed Optimization
                    h4 Details
                    p Responsive layout, interactive elements
                    p Adding new fields if clicking on order another bag button
                    p Scrolling if clicking on the buttons in the instagram block
                    p In mobile and tablet versions long blocks are collapsed and added percentage of viewed
                .projects-about__btn
                    a(href='./assets/projects/city-mober/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/city-mober.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
        li.projects__item(data-category='HTML' data-name='website-gosurf')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/website-gosurf.webp, ./assets/img/website-gosurf-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/website-gosurf.jpg' data-srcset='./assets/img/website-gosurf.jpg, ./assets/img/website-gosurf-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   FIG2HTML GoSurf  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li Slick Carousel
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                    h4 Details
                    p Animation, actual date, choose options in surf section
                    p Nights calculator in sleep section
                    p Hints in shop section
                    p Carousel
                    p Backtop button, preloader
                .projects-about__btn
                    a(href='./assets/projects/website-gosurf/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/website-gosurf.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/website-gosurf' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='HTML' data-name='website-mitravel')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/website-mitravel.webp, ./assets/img/website-mitravel-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/website-mitravel.jpg' data-srcset='./assets/img/website-mitravel.jpg, ./assets/img/website-mitravel-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   FIG2HTML Mitravel  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li Sending a request by mail with PHPMailer in sign up forms
                        li Play and stop video
                        li Swiper carousel
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                    h4 Details
                    p Sign up form
                    p Play and stop video in head section
                    p Gallery, carousel
                    p Backtop button, preloader
                .projects-about__btn
                    a(href='./assets/projects/website-mitravel/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/website-mitravel.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/website-mitravel' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='HTML' data-name='website-mogo')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/website-mogo.webp, ./assets/img/website-mogo-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/website-mogo.jpg' data-srcset='./assets/img/website-mogo.jpg, ./assets/img/website-mogo-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   PSD2HTML MoGo  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li Bootstrap4.5
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li jQuery, Gulp
                        li Responsiveness, Crossbrowser Compability
                    h4 Details
                    p Carousel, modal, accordion
                    p Icons on hovering images
                    p Statistics animation
                    p Backtop button, preloader
                .projects-about__btn
                    a(href='./assets/projects/website-mogo/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/website-mogo.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/website-mogo' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='HTML' data-name='survey-form')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/survey-form.webp, ./assets/img/survey-form-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/survey-form.jpg' data-srcset='./assets/img/survey-form.jpg, ./assets/img/survey-form-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |  Form Survey  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                    h4 Details
                    p Input name, email, age, select dropdown options, select checkboxes, submit button
                .projects-about__btn
                    a(href='./assets/projects/survey-form/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/survey-form.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/survey-form' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='HTML' data-name='email')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/email.webp, ./assets/img/email-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/email.jpg' data-srcset='./assets/img/email.jpg, ./assets/img/email-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |  PSD2HTML Email  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5, CSS3
                    h4 Details
                    p Hero, text, button, social section
                .projects-about__btn
                    a(href='./assets/projects/email/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/email.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/email' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='JavaScript' data-name='js-game-squares')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/js-game-squares.webp, ./assets/img/js-game-squares-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/js-game-squares.jpg' data-srcset='./assets/img/js-game-squares.jpg, ./assets/img/js-game-squares-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |  JavaScript Game Squares  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                        li Page Speed Optimization
                    h4 Details
                    p Counting time and score
                    p Manual time setting
                    p Random square colors
                    p Protection of the window from changes after the end of the game, protection of the input after start of the game
                .projects-about__btn
                    a(href='./assets/projects/js-game-squares/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/js-game-squares.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/js-game-squares' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='JavaScript' data-name='js-game-fighter')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/js-game-fighter.webp, ./assets/img/js-game-fighter-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/js-game-fighter.jpg' data-srcset='./assets/img/js-game-fighter.jpg, ./assets/img/js-game-fighter-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |   JavaScript Game Fighter  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM, SVG Sprite
                        li JavaScript, Gulp
                        li Responsiveness, Crossbrowser Compability
                        li Page Speed Optimization
                    h4 Details
                    p ES6 classes and context this
                    p Two fighters have their own characteristics displayed via JS
                    p Start button starts counting and fighting, formulas calculate the chance of attack or miss
                    p Battle log generated via JS, displays the winner if the fighter's health drops below 0
                .projects-about__btn
                    a(href='./assets/projects/js-game-fighter/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/js-game-fighter.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/js-game-fighter' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='ReactJS' data-name='reactjs-todo')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/reactjs-todo.webp, ./assets/img/reactjs-todo-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/reactjs-todo.jpg' data-srcset='./assets/img/reactjs-todo.jpg, ./assets/img/reactjs-todo-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |  ReactJS ToDo  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li HTML5/Pug, CSS3/SCSS/BEM
                        li React JS, Webpack
                        li Responsiveness, Crossbrowser Compability
                    h4 Details
                    p AddTodo, removeTodo, React.Suspense (React.lazy) AddTodo
                    p UseContext, custom hook useInputValue, useEffect
                    p Loader
                    p React.Fragment Modal
                .projects-about__btn
                    a(href='https://tsybulska.github.io/reactjs-todo/' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='./assets/img/reactjs-todo.jpg' aria-label='Expand' target='_blank' rel='nofollow noopener').btn.btn-expand
                        svg
                            use(xlink:href='./assets/icons/sprite.svg#arrows-fullscreen')
                    a(href='https://github.com/tsybulska/reactjs-todo' target='_blank' rel='nofollow noopener').btn.btn-code Code
        li.projects__item(data-category='Build' data-name='gulp-build')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/gulp-build.webp, ./assets/img/gulp-build-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/gulp-build.jpg' data-srcset='./assets/img/gulp-build.jpg, ./assets/img/gulp-build-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |  Gulp Build  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li clean.js — Clean folder
                        li pug2html.js — Pug to HTML, pug linter, html validator, bem validator
                        li styles.js — SCSS to CSS, webpcss, group css media, stylelint, sourcemaps, autoprefixer, csso, rename to min
                        li scripts.js — Scripts, concat to one file scripts.js and libs, eslint.format, sourcemaps, babel, terser, rename to min
                        li fonts.js — Fonts, copy woff2 and woff, other convert to woff2 and woff
                        li img.js — Images, optimize (quality 85) and copy images, convert to webp and resize
                        li svgSprites.js — SVG sprites, optimize, make sprite and template to /dist/assets/icons/
                        li copyDependencies.js — Copy dependencies, template if dont want to concat libs with scripts.js
                        li favicon.js — Favicon, create from svg icon
                        li favicon2html.js — Favicon to HTML, add favicon links to HTML head
                        li fontsStyle.js — Fonts style, write info about fonts to /#src/scss/_fonts.scss
                        li serve.js — Live server, watching
                    h4 Details
                    ul
                        li Made my own Build
                        li Resize mobile or tablet images, retina 1x, 2x, 3x via gulp task and use with picture tag
                        li Automaticly create svg sprite by adding svg icons to /#src/assets/icons/, svg support ie
                        li Automaticly create favicon by adding the svg icon to /#src/assets/favicon/
                        li Convert fonts to woff2 and woff, copy them to /#src/assets/fonts/ and clean /#src/scss/_fonts.scss/ file
                        li Two pug template pages with separate includes folders, common files in extends folder (layout, header, footer)
                        li SCSS styles with separate components
                        li Copy script libs via gulp task from /node_modules/ and copy them to scripts.js
                .projects-about__btn
                    a(href='./assets/projects/gulp-build/index.html' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='https://github.com/tsybulska/gulp-build' target='_blank' rel='nofollow noopener').btn.btn-code Code and Readme
        li.projects__item(data-category='Build' data-name='webpack-build')
            .projects__img.projects-img
                .projects-img__slider
                    .projects-img__icon
                    .projects-img__slide(data-slide='1').slide-active
                        picture
                            source(class='lazyload' data-srcset='./assets/img/gulp-build.webp, ./assets/img/gulp-build-640.webp 640w' type='image/webp')
                            img(class='lazyload' data-src='./assets/img/gulp-build.jpg' data-srcset='./assets/img/gulp-build.jpg, ./assets/img/gulp-build-640.jpg 640w' alt='project')
                .projects-img__btn
                    a.projects-img__prev &#x276E
                    a.projects-img__num
                        span 1
                        |  / 1
                    a.projects-img__next &#x276F
            .projects__about.projects-about
                .projects-about__header
                    h3
                        span &lt;
                        |  Webpack Build  
                        span /&gt;
                .projects-about__text
                    h4 Stack
                    ul
                        li 
                    h4 Details
                    p Made my own Build
                .projects-about__btn
                    a(href='#' target='_blank' rel='nofollow noopener').btn.btn-open Live
                    a(href='https://github.com/tsybulska/webpack-build' target='_blank' rel='nofollow noopener').btn.btn-code Code and Readme
