section#stack.stack
    h2
        span Stack
    .stack__row
        ul.stack__item.stack__item--left
            li HTML5 / Pug
            li CSS3 / SCSS / BEM (Flexbox, Grids)
            li Bootstrap4.5
            li JavaScript/ES6
            li ReactJS (Beginner)
            li Gulp / Webpack
        ul.stack__item
            li SVG (Inline, Sprites)
            li Page Speed Optimization (PS Insights, Lighthouse)
            li Lazyload
            li WebP Image Support
            li Responsiveness (Media, Mobile First, Desktop First)
            li Crossbrowser Compability
            li Regular Expressions
            li Photoshop / Figma / Zeplin
            li Pixel Perfect
            li Git / GitHub
